<!DOCTYPE html>
<html>

<head>
    <title>Login Failure</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Login Failure. Try Again</h1>
    <form class="m-t" role="form" action="/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Usuario" name="username" required="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña" name="password" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Iniciar Sesión</button>

        <!-- <a href="#"><small>¿Olvidaste tu contraseña?</small></a>
            <p class="text-muted text-center"><small>¿No tienes una cuenta?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="register.html">Crea una aquí</a> -->
    </form>
</body>

</html>